body {
    padding: 40px 20px;
    background: linear-gradient(to bottom, #3C2A21, #8B4513);
    font-family: 'Segoe UI', sans-serif;
    color: #F8F4E3;;
}
  
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: #3C2A21; 
    border-radius: 10px;
    box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.3),
    0 0 20px 4px rgba(213, 184, 149, 0.2);
}
  
section {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
}

header.encabezado {
    background: linear-gradient(135deg, #D5B895, #C8A27C); 
    padding: 40px 0;
    text-align: center;
    border-radius: 20px;
    box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.25),
    0 0 20px 4px rgba(255, 234, 188, 0.25);
    margin: 0 auto 30px auto;
    max-width: 1200px;
}
  
  
img.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #8B4513;
    object-fit: cover;
}
  
.titulo-header {
    margin: 0;
    line-height: 1.2;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color:#1E1E1E; 
}
  
.Carta,
.Sobre-la-empresa,
.Sucursales,
.Formularios {
    background-color:#F2ECDE;
    color: #1E1E1E;
    border-left: 4px solid #C8A27C;
}

.carousel-caption {
    background-color: rgba(60, 42, 33, 0.75);
    border-radius: 5px;
    padding: 10px;
}

.carousel-caption h4, .carousel-caption h5 {
    color: #D5B895;
  }
  
  .carousel-caption p {
    color:#F8F4E3;
}

input,
textarea {
    background-color: #F8F4E3;
    border: 1px solid #C8A27C;
    color: #1E1E1E;
  }
  
input:focus,
textarea:focus {
    border-color: #8B4513;
    box-shadow: 0 0 5px rgba(166, 124, 82, 0.5);
    outline: none;
}
  
button.btn-primary {
    background-color:#8B4513;
    border-color:#8B4513;
    color: #F8F4E3;
}
  
button.btn-primary:hover {
    background-color: #C8A27C;
    color: #1E1E1E;
    border-color: #C8A27C;
}

.card {
    border-color:#C8A27C;
    background-color:#F8F4E3;
}
  
.card-title {
    color:#8B4513;
}


.nav-tabs .nav-link {
    color:#8B4513;
  }

i.bi {
    font-size: 24px;
    color: #F8F4E3;
    transition: transform 0.2s, color 0.2s;
    margin: 0 10px;
}